<div class="container">
    <h3>Input recordings</h3>
    <div class="table">
        <div class="row header">
            <div class="column" *ngFor="let column of headersArray">
                {{column}}
            </div>
        </div>
        <div class="fixed-height">
            <div *ngFor="let row of inputRecordings" [class.highlighted]="row == selectedInputRecordings" class="row" (click)="rowSelected(row)">
                <div class="column" *ngFor="let column of row">
                    {{column}}
                </div>
            </div>
        </div>
    </div>
    <div class="hint" *ngIf="inputRecordings && inputRecordings.length > 0">Select input recordings to start matching, scroll to view more</div>

    <h3>Match and Resolve recording</h3>
    <div class="table">
        <div class="row header">
            <div class="column" *ngFor="let column of headersArray">
                {{column}}
            </div>
        </div>
        <div class="fixed-height">
            <div class="row" *ngFor="let row of filteredDatabaseRecordings" [class.highlighted]="row == selectedDatabaseRecordings" (click)="rowSelectedDatabase(row)">
                <div class="column" *ngFor="let column of row">
                    {{column}}
                </div>
            </div>
        </div>
    </div>
    <div class="hint" *ngIf="filteredDatabaseRecordings && filteredDatabaseRecordings.length > 0">Select matching recordings from database to resolve</div>

    <button type="button" (click)="resolveClick()">Resolve</button>
    <button type="button" (click)="showAllClick()">Show all</button>
    <button type="button" (click)="addAsNew()">Add as new</button>
</div>